<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores perferendis cupiditate numquam, minus ratione quaerat quos deserunt libero enim, perspiciatis tempore expedita est aliquid porro iste beatae minima debitis cumque!
    <br>
    <%- body %>
    <br>
    after 
</body>
</html>